@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 100%; /* 16px --> 1rem */
    font-size: 62.5%; /* fz62.5 -> 10px -->1rem */
    --main-color: #504b4b;
    --sub-color: #e9e2d4;
    --text-color: #555;
    --rds: 5rem; /* 50px */

    --white50p: rgba(255, 255, 255, 0.5);
    --black50p: rgba(0, 0, 0, 0.5);
}

::selection {
    background: var(--main-color);
    color: #fff;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

button {
    background-color: transparent;
    cursor: pointer; /* cup */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

figure {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%; /* maxw */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font: 1.8rem/1.5 'Montserrat', sans-serif;
    color: var(--text-color);
    word-break: keep-all; /* wbka: 어절 단위 줄바꿈 */
    text-transform: capitalize; /* ttc: 영문,첫 시작 글자 대문자 */
    min-width: 320px;
}

.inner {
    width: 118rem;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.1); */
}

.sec-title {
    font-weight: 700;
    font-size: 4rem;
    color: #000;
    text-align: center;
}

.btn {
    font-weight: 700;
    font-size: 2rem;
    display: inline-block; /* dib */
    padding: 1.2rem 3.2rem;

    border: 1px solid var(--white50p);
    border-radius: var(--rds);
}
